body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffff;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

header .logo h1 {
    font-size: 36px;
    margin-left: 20px;
    }

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
}

.hero {
    position: relative;
}

.hero video {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: #fff;
}

.about-content {
    flex: 1;
}

.about h2 {
    font-size: 28px;
}

.about p {
    font-size: 16px;
    margin-top: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
}

.menu h2 {
    font-size: 28px;
}

.menu-item {
    display: inline-block;
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 100%;
    border-radius: 5px;
}

.menu-item h3 {
    font-size: 24px;
    margin-top: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-top: 10px;
}

.menu-item span {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.contact {
    text-align: center;
    padding: 40px 0;
    background-color: #333;
    color: #fff;
}

.contact h2 {
    font-size: 28px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
